/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("MainPanel_Jpg.jpg");
    -fx-background-size:     cover;                      
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center center;  
}
.gridPane { 
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 15;    
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    
    
}

.naslov { 
    -fx-background-color : #aaaaaa;
    -fx-background-size: cover;
    -fx-background-radius: 20;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
}
.background0{
    
    -fx-background-color : #cccccc;
    -fx-background-radius: 5;
    box-shadow: 10px 10px 10px #999;

}
.background1{
    
    -fx-background-image: url("BG1_png.png");
    -fx-background-size : contain;
    -fx-background-repeat : repeat-x; 
}

.button {
	-fx-cursor: hand;
}

.navbar {
	-fx-alignment: center;
	-fx-padding: 8px 5px 5px 5px;
	-fx-spacing: 15px;
}

.navbar .label {
	-fx-background-image: url("BG1_png.png");
    -fx-background-size : contain;
    -fx-background-repeat : repeat-x; 
	-fx-padding: 3px 20px;
	-fx-font-size: 25px;
	-fx-text-fill: black;	
	-fx-cursor: hand;
}